<h2>Cliente</h2>
<div ng-controller="clientesController" ng-init="loadRow()">
	<form ng-submit="save()" class="form-horizontal" ng-show="row!=null">
		<input type="hidden" ng-model="row.CustomerID"/>
		<div class="control-group">
			<label class="control-label">Nome:</label>
			<div class="controls">
				<input type="text" ng-model="row.ContactName" class="input-xxlarge" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Telefone:</label>
			<div class="controls">
				<input type="text" ng-model="row.Phone"/>
			</div>
		</div>
		
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" ng-disabled="">Salvar</button>
			<a href="#/clientes" class="btn">Voltar</a>
		</div>
	</form>
</div>
